.login-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #011E2B, #01684A);
  font-family: 'Courier New', Courier, monospace;
}

.login-card {
  width: 100%;
  max-width: 400px;
}

.login-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}
.error{
  color: red;
}
.login-subtitle {
  color: #01684A;
  margin-bottom: 24px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 16px;
}

.form-label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #000000;
  border-radius: 4px;
}

.login-btn {
  width: 100%;
}